@model DiscogsTestPetal.Models.SearchParametersViewModel
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <p>Please input how many discs would you like to search (between 1 and 5)</p>
        <form asp-action="SubmitSearch" asp-controller="Home">
            <input asp-for="Quantity" placeholder="3" />
            <input type="submit" value="Submit" />
        </form>      
    </div>
